<!DOCTYPE html>
<html>
<head>
  <title>Tickets Management</title>
  <%= csrf_meta_tags %>

  <%= Gon::Base.render_data %>
  <%= stylesheet_link_tag "/assets/app.css" %>
  <%= javascript_include_tag "/assets/app.js" %>
  <%= breakfast_autoreload_tag %>
</head>

<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<p>--- No art / Only Architeture ---</p>
<%= yield %>
<script>require('frontend/js/app').init();</script>
</body>
</html>
